p{ 
        font-family: Arial, Helvetica, sans-serif;

}

#pagamentos{
    color: red;

}

body{
    background-image: url(../imagens/Luau-Wallpapers-51-background-pictures-.jpg);
    background-repeat: no-repeat;
    background-size:cover;


}